#instructions-select {
    display: none;
}
#instructions-select.active {
    display: flex;
}
.login__wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.login__content {
    flex: 1 0 auto;
}

.news_button {
    font-size: 18px;
}

#banner-blocks {
    width: auto;
 }
.client-bank-download__image-wr img {
    width: 100px;
}
.client-bank-download__box2,
.client-bank-download__box3 {
    margin-top: 10px;
}
.client-bank__download_client-bank-download_wrapper {
    min-height: 222px;
}
.footer-container {
    height: auto;
    padding-top: 0;
    flex: 0 0 auto;
}
.login-input-container {
    height: 100%;
}

.sidenav{
    width: 550px;
    animation: .5s cubic-bezier(0.075, 0.82, 0.165, 1) open;
}

.sidenav.hide {
    animation: 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards close;
}

.sidenav.active{
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 101;
    transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: .5s cubic-bezier(0.075, 0.82, 0.165, 1) open;
}

@keyframes open {
    from {
        transform: translate(-2000px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes close {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-2000px);
    }
}

#open_news{
    display: block;
}

@media (max-width: 1600px) {
    #banner-blocks{
        min-width: 100%!important;
        width: auto;
    }
    .login-title {
        font-size: 22px;
    }
    .item {
        background-position: center;
    }

}

@media (max-width: 1200px) {
    img.logo {
        width: 50%;
    } 
    input.input {
        height: 40px!important;
    }
    .login-button{
        margin: 8px 0;
    }
    span#close_news,
    .login-button span {
        font-size: 18px;
    }
    .footer-container {
        padding-top: 0;
    }
    .client-bank-download__image-wr img {
        width: 100px;
    }
    .client-bank-download__box2,
    .client-bank-download__box3 {
        margin-top: 10px;
    }
    .client-bank__download_client-bank-download_wrapper {
        min-height: 222px;
    }

}

@media (max-width: 1040px) {
    .sidenav {
        transition: 0!important;
    }
}
@media (max-width: 780px) {
    .sidenav {
        top: 55%;
    }
}

@media (max-width: 540px) {
    .item{
        display: none;
    }
    .login-input-container{
        width: 100%;
        max-width: 100%;
    }
    .indent_app2 {
        display: none;
    }
    img.logo {
        width: 40%;
    }

    .app__box {
        position: relative;
    }
    .qr__box{
        top: 26%;
        right: 0;
        width: 120px;
        height: 120px;
    }
    #instructions-select {
        z-index: 2;
        width: 100%;
    }
    
}